body {
  margin: 0;
  height: 100vh;
  background-color: black;
  overflow: hidden;
}

span {
  background: url("https://eurocham-cambodia.org/wp-content/uploads/2025/10/0dd01-sreng-mao_white-back.jpg");
  width: 100px;
  height: 100px;
  position: absolute;
  pointer-events: none;
  background-size: cover;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation: animate 6s linear;
}

@keyframes animate {
  0% {
    transform: translate(-50%, -50%);
    opacity: 1;
    filter: hue-rotate(0);
  }
  100% {
    transform: translate(-50%, -5000%);
    opacity: 0;
    filter: hue-rotate(720deg);
  }
}
